.dashboard-container {display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #f0f2f5;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: auto;
}

.sensor-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.sensor-buttons button {
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.sensor-buttons button.selected {
    border-color: #1890ff;
    background-color: #e6f7ff;
    color: #1890ff;
}

.graphs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1100px;
    width: 100%;
    align-items: flex-start;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.sensor-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 360px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8) !important;
    background-color: #ffffff;
}

.sensor-title{
    text-align: center;
}

.sensor-details-horizontal {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}

.sensor-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sensor-text {
    font-size: 14px;
    font-weight: 500;
}

.graphs-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 900px;
    width: 100%;
}

.sensors-graphics-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.graph-card {
    flex: 1 1 30%;
    margin: 10px;
    max-width: 30%;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
}

.sensors-graphics-container .graph-card {
    flex: 1 1 30%;
    margin: 10px;
    max-width: 30%;
    width: 250px;
}
