.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.table {
    width: 90%;
    max-width: 800px;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
}

.header {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background-color: #f7f7f7;
    border-bottom: 2px solid #ddd;
}

.row {
    text-align: center;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}

.row:hover {
    background-color: #f1f1f1;
}

.cell {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    color: #555;
    border: 1px solid #ddd;
    white-space: nowrap;
}

.highlight-cell {
    background-color: #ffe6e6;
    font-weight: bold;
}

.status-cell-problem {
    font-weight: bold;
    color: #fa541c;
}

.status-cell-normal {
    font-weight: bold;
    color: #52c41a;
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 6px;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.panel {
    background: #f0f2f5;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    text-align: left;
}

.panel-cell {
    padding: 0;
    border: none;
}

.multiple-issues {
    display: flex;
    align-items: flex-start;
    padding-left: 10px;
    width: 100%;
}

.issue {
    display: flex;
    gap: 3px;
    padding: 4px 0;
    color: #721c24;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
}

.custom-card {
    border: none;
    padding: 20px;
}
